<header>  
  <% user="https://twitter.com/"+@username %>
  <h1>Twitling : Twitter link digest for <a href="<%= user %>"><%= @username %></a> </h1>
<nav>
  <ul>
    <li> <a href="?page=<%= @page+1 %> ">Older</a> </li>
    <% if @page > 1 then %>
    <li> <a href="?page=<%= @page-1 %> ">Newer</a> </li>
    <% end %>
  </ul>
</nav>
</header>
<article>
  <%= @stories.join %>
</article>
